<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gaurav.gameoflife"
    android:versionCode="5"
    android:versionName="1.21" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo"
        android:uiOptions="splitActionBarWhenNarrow" >
        <activity
            android:name="com.gaurav.gameoflife.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gaurav.gameoflife.SettingsActivity"
            android:label="@string/app_settings"
            android:parentActivityName=".MainActivity" >
        </activity>
    </application>

</manifest>